/alienIscript.txt
/alienuscript.txt
/Alpha Centauri.Ini
/alpha.txt
/alphax.txt
/angels.txt
/basename.txt
/believe.txt
/bluetint.tmp
/Blurbs.txt
/blurbsx.txt
/brian.txt
/caretake.txt
/concepts.txt
/conceptsx.txt
/CREDITS.TXT
/cyborg.txt
/drone.txt
/EULA.txt
/facedit.txt
/FACTION.TXT
/fade.tmp
/flavor.txt
/fungboy.txt
/GAIANS.TXT
/help.txt
/helpx.txt
/hive.txt
/holobook.txt
/humanludes.txt
/interlude.txt
/interludea.txt
/interludex.txt
/ip.cfg
/jackal.txt
/labels.txt
/logfile.txt
/menu.txt
/monument.txt
/MORGAN.TXT
/movlist.txt
/PEACE.TXT
/pirates.txt
/planets.txt
/readme_ac.txt
/readme.txt
/scenario.txt
/Script.txt
/sid.txt
/SMAC_XP2000_readme.txt
/spartans.txt
/system.txt
/TECHLONGS.TXT
/TECHSHORTS.txt
/tutor.txt
/unins000.ini
/univ.txt
/usurper.txt
/xscript.txt
